@font-face {
    font-family: 'Lezend Deca';
    src: url('./assets/fonts//LezendDeca.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lezend Deca';
}

*:focus {
    outline: none;
} 